.link {
  width: fit-content;
  padding: 0.75em 0;
  text-decoration: none;
  display: inline-block;
  color: var(--color-black);
  text-transform: uppercase;
  letter-spacing: 2px;

  &:hover {
    text-decoration: underline;
  }

  & > span {
    margin-left: 0.75em !important;
  }

  &.dark {
    filter: var(--filter-white);
  }
}
