@import "styles/mixins";

.story-previews {
  @include mq(md) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @include mq(lg) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

.story-preview {
  position: relative;
  isolation: isolate;
  height: 28em;

  @include mq(lg) {
    height: 33em;
  }

  &__picture {
    z-index: -10;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &__content {
    z-index: 10;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 2em 2.5em;
    color: var(--color-white);
    background-color: rgba(0, 0, 0, 0.35);

    h3 {
      text-transform: unset;
    }

    hr {
      border: 1px solid rgba(255, 255, 255, 0.5);
      margin: 1em 0;
    }

    a {
      width: 100%;
    }
  }
}
